/*
******************************************************************************************************************
Created, integrated or modified by WhiteLabelWebDeveloper.com ( 877-919-0326 | info@whitelabelwebdeveloper.com )
******************************************************************************************************************
*/
body {
	background-color:#efe;
	color:#003a00; 
	font-family:Arial,sans-serif;
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin:0 auto;
	padding:0.25em 0;
	width:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	overflow:hidden;
	max-width:100%;
}
td {
	max-width:100%;
	vertical-align:top;
}
a {
	color:#216c2a;
	text-decoration:underline; 
}
a:active {
	color:#990000;
	text-decoration:none;
}
h1,h2 {
	font-size:100%;
	font-weight:bold;
	line-height:1.0;
	margin:0 auto;
	padding:0;
}
img {
	background-color:#fff;
	padding:0.25em; 
	margin:0.25em 0.25em 0.25em 0; 
}
#forecast_information, #current_conditions, #forecast_conditions, #options {
	background-color:#efe; 
	padding:0.25em 0.5em; 
	border-top:1px solid #fff; 
	border-bottom:1px solid #898;
}
#forecast_information h1 {
	display:block; 
	font-size:100%; 
	font-weight:bold; 
	text-shadow:0 0.1em #fff; 
	text-align:center;
}
#forecast_information p {
	font-size:0.7em;
	font-weight:bold; 
	margin:0.5em 0;
	padding:0;
	text-align:center;
}
#current_conditions td {
	font-size:0.7em;
}
#forecast_conditions td {
	margin:0;
	padding:0 0.5em;
	max-width:20%;
	width:155px;
} 
#forecast_conditions td img {
	margin-top:0.1em;
	max-width:100%;
}
#forecast_conditions h2 {
	font-size:100%;
}
#forecast_conditions div {
	font-size:0.7em;
}
#options_header {
	font-size:100%;
	font-weight:bold;
	margin:0 auto;
	padding:0;
	text-align:left;
}
#options {
	border-bottom:none;
}
select#city_menu {
	margin:0px 0 0px 0; 
	border:2px solid #898; 
	padding:0.25em;
}
.template {
	display:none;
}
.wlwebus-footer {
	color:#216c2a;
	font-size:0.7em;
	font-weight:bold; 
	margin:0 auto;
	padding:0.5em;
	text-align:center;
}
